<h1>Madhan Kumar</h1>
<h2>CSE Sophomore</h2>
<p>Hobbies :p </p>

<ol type="i">
    <li>Keyboard (rarely but yeah xD)</li>
    <li>Doomscroll yt stories</li>
    <li>Listen to Hans Zimmer (uk right it gives u chills :D)</li>
    <li>Random movie</li>
</ol>

