<h1>Welcome To IRIS Boot Camp</h1>
<p>Introduction to RoR</p>
<body> In a nut shell :p </body>
<ol type="1">
<li>Linux OS must</li>
<li>Install RVM,Ruby and VS Code</li>
<li>Set up Git</li>
<li>Start Exploring Rails</li>
</ol>
<h2>All the Best !! </h2>
<h3>For any sorts of errors ,refer to Stack Overflow or GitHub closed issues </h3>
